*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    /* min-height: 75px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #422357;
    height: 15vh;
}

.header-img-container{
    width: 60vw;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}

.nav-bar ul li{
    font-size: 1.5rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fefefe;
}

.page-wrapper{
    position: relative;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.hero{
    margin-top: 16vh;
    padding-top: 15px;
    text-align: center;
}

.desc-section{
    margin-top: 20px;
}

.grid{
    display: flex;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.video-section iframe{
    max-width: 600px;
    width: 100%;
}

.price-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 75px;
}

.price{
    margin: 20px;
}

.newsletter-section{
    background-color: aliceblue;
}

.newsletter-section h2{
    padding-top: 20px ;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}

#email{
    width: 25vw;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.submit{
    font-size: 20px;
    height: 35px;
    width: 300px;
    background-color: #572352;
    color: #fefefe;
    border-radius: 20px;
}

.footer{
    margin-top: 30px;
    background-color: #282357;
    color: #fefefe;
}

.footer ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.footer ul li{  
    padding: 0 15px;
    font-size: 1em;
}

.footer span{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom:5px;
    padding-right: 10px;
    font-size: 0.8em;
}